.sm-footer {
    color: white;
    height: 70px;
    background-color: #05326e;
}

.sm-footer .container {
    justify-content: space-between;
    height: 100%;
}

.sm-footer span a {
    color: yellow;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}

.sm-footer span a:hover {
    text-decoration: underline;
    color: red;
    text-decoration: none;
}